extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/login", method="post")
    div
      label(for="user")
        input#user(type="text", name="user")
    div
      label(for="pass")
        input#pass(type="text", name="pass")
    div
      button(type="submit") Login
